@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("https://use.typekit.net/eux8mxs.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  color: white;
  font-size: 100%;
}

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1)
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}
.big-wrap {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  max-height: 54px;
}

nav > a {
  justify-self: left;
}

a > svg.logo {
  height: 50px;
  fill: white;
  transition: fill 0.2s;
}

a > svg.logo:hover {
  fill: #ff7b08;
}

#active {
  fill: #ff7b08;
  color: #ff7b08 !important;
  cursor: default;
}

div.a-items {
  justify-self: right;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  justify-items: right;
  align-items: center;
}

div.a-items a {
  text-decoration: none;
  transition: color 0.2s;
  font-family: courier;
  font-size: 2rem;
}

div.a-items a:hover {
  color: #ff7b08;
}
section {
}

div.styling {
  background-color: #ff7b08;
  margin: 7rem 0;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 10rem 2rem;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
}

h3 span {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

footer {
  background-color: #ff7b08;
  padding: 20px;
}

footer p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.some-icons {
  margin: 0 auto;
  width: 248px;
  grid-template-columns: repeat(4, max-content);
  display: grid;
  grid-gap: 0.1rem;
  justify-items: center;
  grid-gap: 1rem;
}

footer a {
  height: 50px;
  width: 50px;
}
footer a svg {
  fill: white;
  cursor: pointer;
  transition: 0.5s;
}

footer a svg:hover {
  fill: black;
}

@media (max-width: 765px) {
  nav {
    grid-template-columns: 1fr;
    max-height: unset;
  }

  .a-items {
    grid-template-columns: unset !important;
  }

  .a-items a {
    font-size: 1.2rem !important;
  }
}
