@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("https://use.typekit.net/eux8mxs.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  color: white;
  font-size: 100%;
}

body {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1)
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}
.big-wrap {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.1);
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  max-height: 54px;
}

nav > a {
  justify-self: left;
}

a > svg.logo {
  height: 50px;
  fill: white;
  transition: fill 0.2s;
}

a > svg.logo:hover {
  fill: #ff7b08;
}

#active {
  fill: #ff7b08;
  color: #ff7b08 !important;
  cursor: default;
}

div.a-items {
  justify-self: right;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  justify-items: right;
  align-items: center;
}

div.a-items a {
  text-decoration: none;
  transition: color 0.2s;
  font-family: courier;
  font-size: 2rem;
}

div.a-items a:hover {
  color: #ff7b08;
}

h1 {
  text-align: center;
  color: #ff7b08;
  margin: 3rem 0;
  font-size: 3rem;
}

.project-even {
  background-color: #5a5a5a;
  margin-left: 30%;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content 2fr;
  grid-template-areas: "card info";
}

.project-even .card {
  grid-area: card;
}

.project-even .project-info {
  grid-area: info;
}

div.project-even > div.card > div.card_side.back {
  background-color: #ff7b08;
}

.project-odd {
  background-color: #ff7b08;
  margin-right: 30%;
  padding: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr max-content;
  grid-template-areas: "info card";
}

.project-odd .card {
  grid-area: card;
}

.project-even .project-info {
  grid-area: info;
}

div.project-odd > div.card > div.card_side.back {
  background-color: #5a5a5a;
}

.front img {
  width: 100%;
}

.back {
  display: grid;
  justify-items: center;
  align-items: center;
}

h3.project-name {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

p.project-desc {
  font-size: 1.4rem;
}

.back a {
  text-align: center;
  padding: 1rem;
}

.project-desc {
  font-family: eurostile, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project-even > div.project-info {
  text-align: end;
}

.projects {
  margin-bottom: 3rem;
}

.see-more {
  margin-bottom: 3rem;
}

.see-more h6 {
  text-align: center;
  font-size: 1.5rem;
}

.see-more a {
  text-align: center;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  transition: 0.5s;
  fill: white;
}

.see-more a svg {
  margin: 0 auto;
}
.see-more a:hover {
  color: #ff7b08;
  fill: #ff7b08 !important;
}

footer {
  background-color: #ff7b08;
  padding: 20px;
}

footer p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.some-icons {
  margin: 0 auto;
  width: 248px;
  grid-template-columns: repeat(4, max-content);
  display: grid;
  grid-gap: 0.1rem;
  justify-items: center;
  grid-gap: 1rem;
}

footer a {
  height: 50px;
  width: 50px;
}
footer a svg {
  fill: white;
  cursor: pointer;
  transition: 0.5s;
}

footer a svg:hover {
  fill: black;
}

@media (max-width: 765px) {
  nav {
    grid-template-columns: 1fr;
    max-height: unset;
  }

  .a-items {
    grid-template-columns: unset !important;
  }

  .a-items a {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1600px) {
  .project-even {
    margin-left: 20%;
  }
  .project-odd {
    margin-right: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .project-even {
    margin-left: 5%;
  }
  .project-odd {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .project-even {
    margin-left: 1%;
    grid-template-columns: 1fr;
    grid-template-areas: "card" "info";
  }
  .project-odd {
    margin-right: 1%;
    grid-template-columns: 1fr;
    grid-template-areas: "card" "info";
  }
  .card {
    justify-self: center;
  }
  h3.project-name {
    text-align: center;
  }
  p.project-desc {
    text-align: center;
  }
}

/* FLIP CARDS */
.card {
  align-self: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 15rem;
  width: 15rem;
}
.card_side {
  height: 15rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.front {
  background-color: white;
}
.back {
  transform: rotateY(180deg);
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card:hover .front {
  transform: rotateY(-180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}
